html /*.panel  */
{
    /*border: solid #b7b7b7;
    width: 500px;*/
    margin: auto;
}

/* Arrastrado*/
.sectionSelect, .headerSelect{
  background: black;
  padding: 25px;
}

.asideDer{
  float:right;
  width:20%;
  border:1px solid
}

.asideIzq{
  float:left;
  width:20%;
  border:1px solid
}

.deviceSmartphone1 {
    background-image: url("../../../img/Devices/smartphone.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-top: 87px;
    height: 944px;
    width: 480px;
}
.deviceTablet1 {
    background-image: url("../../../img/Devices/tablet.png");
    background-repeat: no-repeat;
    height: 1487px;
    padding-left: 64px;
    padding-top: 135px;
    width: 953px;
}
.standalone_open {
    background: transparent;
    border: none;
}

.barra-est-izq{
    background: #cf3736;
}

.barra-est-der {
    background: #F8F8F8
}
.barra-est-izq, .barra-est-der {
    height: 93px;
}
.barra-est-der .navbar-default {
    background-color: transparent;
    border: none!important;
}
/*.barraHerramientas {
    z-index: 10000;
    width: 200px;
    position: absolute;
}*/
.arrastrar {
    border: solid 1px #BDBDBD;
    padding: 20px;
    width: 72px !important;
    cursor:pointer;
}

.elementHTML:hover{
  border: dashed 1px red!important;
}
.textoSecundario {
  z-index: 10000;
}

.barra-herr{
    position: absolute;
}
.clear {
    clear: both;
}








/* Draggable */
.draggable-box {
    border:1px solid #808080;
    padding:5px;
}
.editable {
    max-width:100%;
    padding:5px;
    display: inline-block;
    word-wrap:break-word;
}
div.dest {
    border:1px solid #808080;
    min-height:300px;
    padding: 30px 0px;
}


.colu1, .colu2 {
  float: left;
}


/*BORRAR-------------------------------- */
#makeMeDraggable { float: left; width: 100px; height: 100px; background: red; }
#makeMeDroppable { float: right; width: 200px; height: 200px; border: 1px solid #999; }
.configPage img{ width: 15px; }
/*.configPage { display: none; }*/
/*.elementHTML:hover .configPage { display: inline; }*/
.elementoEditable:hover .configPage { display: inline; }
.elementHTML { position: relative; }
.configPage { position: absolute; right: 1px;  display: none; z-index: 1000; top: -34px; width: 163px;}

.titulo-modal{color:#b02f2e;}
.sub-title-modal{ border:1px solid #eee; border-left: solid 3px #b02f2e; color: #b02f2e; padding: 4px;}
.modal-configuracion label {font-weight: normal;}
.modal-configuracion p {margin: 0 0 -10px;;}
/*Collapse*/
/*.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
/
/*Siempre son 4 px mas en la pagina*/
/*Tamanho normal*/
@media (min-width: 768px) and (max-width: 2000px) { 
    /*.btn-primary { color:red; };*/
 }
 
/*Móviles en horizontal o tablets en vertical
   -------------------------------------------------------------------------*/
/*@media (max-width: 767px) { */
@media (max-width: 820px) {
    .devicesPanel, .barraHerramientas, .vista_previa, .barraEstado, #menu_accordion {display: none;}
 }
 
/*Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) { 
    .devicesPanel, .barraHerramientas, .vista_previa, .barraEstado, #menu_accordion {display: none;}
 }